@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-1000;
}

.prompt-answer-done .caret {
  @apply hidden;
}

.prompt-answer-loading :not(:last-child) .caret {
  @apply hidden;
}

.prompt-answer-loading :last-child .caret {
  @apply visible;
}

.animate-caret {
  animation-name: caret;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.14, 0, 0.16, 1);
}

@keyframes caret {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.prompt-answer-done .caret {
  @apply hidden;
}

.prompt-answer-loading :not(:last-child) .caret {
  @apply hidden;
}

.prompt-answer-loading :last-child .caret {
  @apply visible;
}

.prompt-answer pre {
  @apply rounded border border-neutral-800 bg-neutral-900 !important;
}

.animate-slide-up {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
